//nexus.hackerrank.com/repository/hr-npm-group/:_authToken=NpmToken.2c901244-9158-3e88-a141-44dde9134dfc
email=hackerrank-developers@hackerrank.com
always-auth=true
registry=https://nexus.hackerrank.com/repository/hr-npm-group/